trigger:
- master   # hoặc 'master' nếu repo của bạn dùng nhánh master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'   # phiên bản Node bạn muốn dùng
  displayName: 'Use Node.js'

- script: |
    npm install
  displayName: 'Install dependencies'

- script: |
    npm run build
  displayName: 'Build project'
